docs/*
FOCUS-Sample-Data/*
.env
.env.local
prototype/config/gcp_key.json
prototype/config/aws_credentials.txt
prototype/data/raw/focus_data_table.csv
prototype/logs/*
__pycache__/
*.pyc
.pytest_cache/
FOCUS-Sample-Data
prototype/results/charts/*
prototype/data/raw/gcp_cost_dataset.csv
prototype/data/processed/aws_focus.csv
prototype/data/processed/gcp_focus_converted.csv
prototype/data/processed/time_normalized.csv
prototype/results/transfer_learning/models/
prototype/results/transfer_learning/ml_predictions.csv
prototype/data/processed/resource_grouped.csv

prototype/data/processed/resource_grouped_origin.numbers

prototype/results/gcp_unused.csv
