*.csv filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*hf_gcp_billing.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
prototype/data/processed/time_normalized.csv.zip filter=lfs diff=lfs merge=lfs -text
prototype/data/processed/resource_hourly_grouped.csv filter=lfs diff=lfs merge=lfs -text
prototype/data/processed/hourly_aggregated.csv filter=lfs diff=lfs merge=lfs -textssss
prototype/results/transfer_learning/ml_overprovisioned_v2.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/ml_predictions_v2.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/classifier_overprovisioned.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/xgb_overprovisioned.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/ml_classifier_predictions.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/category_patterns.json filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/xgb_predictions.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/unified_overprovisioned.csv filter=lfs diff=lfs merge=lfs -text
prototype/results/transfer_learning/gcp_overprovisioned.csv filter=lfs diff=lfs merge=lfs -text
